<!DOCTYPE html>
<html lang="en">
<head>
  
  {% block title %}<title>Brooklyn Library</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Gothic+A1|Roboto|Montserrat|Lato" rel="stylesheet">  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}?version=2">
</head>
<body>

<div class="container-fluid">

<div class="row" id="topnavbar" >
  <div class="col-sm-12">
    {% block sidebar %}
    <div class="width100">
        <a href="{% url 'index' %}"><img src="{% static "images/bpl_logo_sm.png" %}" alt="Home" class="logo" /></a>
      <ul class="sidebar-nav">
        <li><a href="{% url 'books' %}">All Books</a></li>
        <li><a href="{% url 'authors' %}">All Authors</a></li>
      </ul>
    
      <ul class="sidebar-nav nav-right">
      {% if user.is_authenticated %}
        {% if user.is_staff %}
          {% if perms.catalog.can_mark_returned %}
          <li><a href="{% url 'all-borrowed' %}">All borrowed</a></li>
          {% endif %}
        {% endif %}
        <li><a href="{% url 'my-borrowed' %}">My Borrowed</a></li>
        <li>{{ user.get_username }}</li>
        <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>   
      {% else %}
        <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>   
      {% endif %} 
      </ul>
    </div>
    {% endblock %}
  </div>
</div>

<div class="row">
  <div class="col-sm-12 right-container">
  {% block content %}{% endblock %}
  
  {% block pagination %}
    {% if is_paginated %}
      <div class="pagination">
        <span class="page-links">
          {% if page_obj.has_previous %}
            <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
          {% endif %}
          <span class="page-current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
          </span>
          {% if page_obj.has_next %}
            <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
          {% endif %}
        </span>
      </div>
    {% endif %}
  {% endblock %} 
  
  </div>
</div>

</div>
</body>
</html>
