<!DOCTYPE html>
<html lang="en">
<head>
  
  {% block title %}<title>Brooklyn Library</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Gothic+A1|Roboto|Montserrat|Lato" rel="stylesheet">  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}?version=6">
</head>
<body>

<div class="main-outer">
  <div class="container-fluid main-mid-container">

    <div class="row" id="topnavbar">
      
      <div class="col-sm-12">
        {% block sidebar %}
        <div class="width100 main-navbar">
            <a href="{% url 'index' %}"><img src="{% static "images/bpl_logo_sm.png" %}" alt="Home" class="logo" /></a>
          <ul class="sidebar-nav nav-left">
            <li class="nav-left-li"><a href="{% url 'books' %}"><i class="fas fa-book nav-icon"></i><span class="nav-menu-text"> All Books</span></a></li>
            <li class="nav-left-li"><a href="{% url 'authors' %}"><i class="fas fa-user-edit nav-icon"></i><span class="nav-menu-text"> All Authors</span></a></li>
            {% if user.is_authenticated %}
            {% if user.is_staff %}
              {% if perms.catalog.can_mark_returned %}
              <li class="nav-left-li"><a href="{% url 'all-borrowed' %}"><i class="far fa-calendar-alt nav-icon"></i><span class="nav-menu-text"> All borrowed</span></a></li>
              {% endif %}
            {% endif %}
            <li class="nav-left-li"><a href="{% url 'my-borrowed' %}"><i class="fas fa-book-reader nav-icon"></i><span class="nav-menu-text"> My Borrowed</span></a></li>
            {% endif %}
          </ul>
        
          <ul class="sidebar-nav nav-right">
          {% if user.is_authenticated %}
            {% if user.is_staff %}
              <li><a href="../../admin">{{ user.get_username }}</a</li>
            {% else %}
              <li>{{ user.get_username }}</li>
            {% endif %}
            <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>   
          {% else %}
            <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>   
          {% endif %} 
          </ul>

        </div>
        {% endblock %}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 right-container">
      {% block content %}{% endblock %}
      
      {% block pagination %}
        {% if is_paginated %}
          <div class="pagination">
            <span class="page-links">
              {% if page_obj.has_previous %}
                <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
              {% endif %}
              <span class="page-current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
              </span>
              {% if page_obj.has_next %}
                <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
              {% endif %}
            </span>
          </div>
        {% endif %}
      {% endblock %} 
      
      </div>
    </div>

  </div>

  <div class="bottom-filler"></div>

  <footer class="main-footer"><a href="http://jasonspringer.me/">Jason Springer</a></footer>

</div>

</body>
</html>
