{% extends "base_generic.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-3 author-left"> 
      <img src="{{ author.image }}" class="width100 author-pic">
    </div>
    <div class="col-sm-9 author-right">
      <h1 class="author-title">{{ author }}</h1>
      <p class="author-life">{{author.date_of_birth}} - {% if author.date_of_death %}{{author.date_of_death}}{% endif %}</p>
      <p class="author-summary">{{author.summary}}</p>

      <div class="author_books">
        <h3>Books</h3>

        {% for book in author.book_set.all %}
        <div class="author_detail_book">
          <div class="author_detail_book-left">
            <a href="{% url 'book-detail' book.pk %}" border="0">
              <img src="https://covers.openlibrary.org/b/isbn/{{ book.isbn }}-M.jpg" style="max-width: 150px;">
            </a>
          </div>
          <div class="author_detail_book-right">
            <dl>
              <dt><a href="{% url 'book-detail' book.pk %}">{{book}}</a> </dt>
              <dd><span class="fweight500">Copies</span>: {{book.bookinstance_set.all.count}}</dd>
              <dd>{{book.summary}}</dd>
            </dl>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
