{% extends "base_generic.html" %}

{% block content %}
<div class="book_list_outer">
  <h1 class="text-center book_list_title">Books</h1>
  
  {% if book_list %}
    {% for book in book_list %}
    <div class="book_list_book">
      <a href="{{ book.get_absolute_url }}" class="book_list_cover">
        <img src="https://covers.openlibrary.org/b/isbn/{{ book.isbn }}-M.jpg" class="book_list_cover_img">
      </a>
      <div class="book_list_details">
        <a href="{{ book.get_absolute_url }}" class="book_list_title">{{ book.title }}</a>
        <a href="{{ book.author.get_absolute_url }}" class="book_list_author">{{ book.author }}</a>
      </div>
    </div>
    {% endfor %}

  {% else %}
    <p>There are no books in the library.</p>
  {% endif %} 
</div>    
{% endblock %}
